.products-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 36px 0 60px;
}

.product-item {
    flex: 33.33%;
    position: relative;
    padding-bottom: 14px;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid #edecec;
    animation: view linear 1s;

    & img {
        width: 273px;
        height: 273px;
        display: block;
        margin: 30px auto;
        transition: all linear 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }

    & h4 {
        margin: 12px 15px;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: var(--font-main);
    }
}

@keyframes view {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slogan-sale {
    top: 12px;
    left: 12px;
    z-index: 2;
    font-size: 1.6rem;
    padding: 4px 12px;
    position: absolute;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--bgrcolor-btn);
}

.dash-price {
    font-size: 1.8rem;
    margin-left: 15px;
    color: var(--primary-color);
    text-decoration: line-through;
}

.price {
    font-size: 2rem;
    margin-left: 15px;
    color: var(--primary-color);
}

.load-btn {
    width: 265px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 12px 20px;
    border-radius: 20px;
    margin: 32px auto;
    color: var(--white-color);
    font-family: var(--font-main);
    transition: all linear 0.2s;
    background-color: var(--primary-color);

    &:hover {
        opacity: 0.6;
    }
}
